.sidemenu
{
     background: #1c2627 url("../img/dish.jpg") no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
   
    
}
.sidemenu > .menudemo
{
   
   opacity:0.6;
   background-color: black;
   color: white;
  

}
.hell
		{
		    padding-left:30px;
		    padding-top: 9px;
		     border: 0.5px solid white;
		}