<ion-view view-title="Menu">
	
  <ion-tabs class="tabs-top tabs-color-active-positive">

   <ion-tab title="Indian" ui-sref="app.items.dash">
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chinese" ui-sref="app.items.chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Veg"  ui-sref="app.items.account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Non Veg" ui-sref="app.items.account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  <ion-tab title="South"  ui-sref="app.items.account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Special"  ui-sref="app.items.account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>


</ion-view>
