<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="sidemenu">
   
    <ion-content class="menudemo" >
      <ion-list-cards>
      
       <div class="hell">
       <a class="button button light button-icon icon icon-left ion-star" menu-close>&nbsp;&nbsp;Offers</a>
        </div>
       
      </div>
        <div class="hell">
         <a class="button button light button-icon icon icon left ion-compose">&nbsp;&nbsp;New Order</a>
        
       </div>
       <div class="hell">
         <a class="button button light button-icon icon ion-ios-bookmarks" menu-close ui-sref="app.items.dash">&nbsp;&nbsp;Back To Menu</a>
        
       </div>
       <div class="hell">
         <a class="button button light button-icon icon ion-clipboard">&nbsp;&nbsp;Order History</a>
         
       </div>
        <div class="hell">
         <a class="button button light button-icon icon ion-heart">&nbsp;&nbsp;Favourites Products</a>
        
       </div>
       <div class="hell">
         <a class="button button light button-icon icon ion-ios-bell">&nbsp;&nbsp;Favourite Order</a>
        
       </div>
         <div class="hell">
         <a class="button button light button-icon icon ion-arrow-graph-up-right">&nbsp;&nbsp;Track Order</a>
        
       </div>
        <div class="hell">
         <a class="button button light button-icon icon ion-ios-briefcase">&nbsp;&nbsp;T&C Disclaimer</a>
        
       </div>
       <div class="hell">
         <a class="button button light button-icon icon ion-document-text">&nbsp;&nbsp;FeedBack</a>
        
       </div>
       <div class="hell">
         <a class="button button light button-icon icon ion-power">&nbsp;&nbsp;SignOut</a>
        
       </div>
        <div class="hell">
         <a class="button button light button-icon icon ion-log-out">&nbsp;&nbsp;Exit</a>
        
       </div>


        
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
